#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  /*text-align: center;*/
}
body{
    margin: 0 !important;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.typing_style {
    color: #dbdbdb;
    font-size: 0.7em;
    /*background-color: #000000;*/
    margin: 1px;
    border: #1e1e1e;
}
.read-the-docs {
  color: #888;
}
.frame-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    width: 120%; /* enlarge beyond browser width */
    left: -15%; /* center */
}

.frame-container iframe {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
}
.wrapper {
    overflow: hidden;
    max-width: 100%;
}
.ant-header  {
    background-color: black;
}
.ant-menu  {
    background-color: black;
}
.ant-menu-item-selected {
    background-color: #2b2b2b !important
}